
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    
    font-family: "Kumbh Sans", sans-serif;
    background-color: hsl(185, 75%, 39%);
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-image: url(./images/bg-pattern-top.svg),
     url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat,no-repeat;
    background-position: right 48vw bottom 40vh,  left 45vw top 44vh ;
    
}
.container{
    margin: 0 auto;
    text-align: center;
}
.card{
    max-width: 420px;
    background-color: antiquewhite;
    border-radius: 15px;
    overflow: hidden;
    margin: 1 rem;
}
.content img{
    width: 100px;
    border-radius: 50%;
    border: solid #fff;
    margin-top: -52px;
    margin-bottom: 20px;
}
 h2{
    color: hsl(229, 23%, 23%);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}
 h2 span{
   color:  hsl(227, 10%, 46%);
   font-weight: 400;
}
p{
    color:  hsl(227, 10%, 46%);
    font-size: 13px;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 50px 30px;
    border-top: 1 px solid hsla(0, 18%, 30%, 0.2);
    margin-top: 30px;

} 
.footer p.num{
   color:  hsl(229, 23%, 23%);
   font-weight: 700;
   font-weight: 18px;
   margin-bottom: 5px;

}